<main class="container-xxl pt-5 mb-4">
  <app-titulo title="Dashboard" subtitle="visão geral do sistema" />

  <div class="row pt-4 row-gap-4">
    <div class="col-sm-12 col-md-6 col-lg-3">
      <app-card [title]="'Ordens Abertas'" [num]="ordensAbertas.toString()">
        <i class="bi bi-clock"></i>
      </app-card>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <app-card [title]="'Finalizados'" [num]="ordensFinalizadas.toString()">
        <i class="bi bi-check-circle"></i>
      </app-card>
    </div>
    @if (!(role == UserRole.ROLE_MECANICO)) {

    <div class="col-sm-12 col-md-6 col-lg-3">
      <app-card [title]="'Faturamento Hoje'" [num]="'R$ ' + faturamentoDia.toFixed(2)">
        <i class="bi bi-currency-dollar"></i>
      </app-card>
    </div>
    }
  </div>

  <div class="row row-gap-4 mt-5">
    @if (role != UserRole.ROLE_MECANICO) {
    <div class="col-sm-12 col-md-6 col-lg-4">
      <app-botao-grande title="Nova ordem" subtitle="Criar ordem de serviço" link="/ordens">
        <i class="bi bi-file-earmark"></i>
      </app-botao-grande>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <app-botao-grande title="Clientes" subtitle="Gerenciar clientes" link="/clientes">
        <i class="bi bi-people-fill"></i>
      </app-botao-grande>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <app-botao-grande title="Vendas" subtitle="Realizar vendas" link="/vendas">
        <i class="bi bi-cart"></i>
      </app-botao-grande>
    </div>

    }

    <div class="col-sm-12 col-md-6 col-lg-4">
      <app-botao-grande title="Agenda" subtitle="Ver agendamentos" link="/agenda">
        <i class="bi bi-clock"></i>
      </app-botao-grande>
    </div>
  </div>
</main>
