// src/app/componentes/modal-usuario/modal-usuario.scss
.modal-content {
  border-radius: 15px;
  overflow: hidden;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: 1px solid #dee2e6;
}